#macro(layout $title)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>$title - $windowTitle</title>
    <link rel="stylesheet" href="moderndoc.css">
</head>
<body>
<div class="container">
    $!bodyContent
</div>
</body>
</html>
#end