body {
    margin: 0;
    padding: 0;
}

.javadoc {
    display: flex;
    margin: 0;
    padding: 0;

    height: 100vh;
}

.sidebar {
    flex-basis: 300px;
    background-color: #dedede;
}

.content {
    flex-grow: 1;
    background-color: #f0f0f0;
    font-size: 1.15em;
}

.container {
    padding: 30px;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-spacing: 0;
}

td, th {
    padding: 10px;
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #fdfdfd;
}

tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.col-first {
    width: 25%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}