#parse("layout.vm")

#@layout("Packages")
    <h1>$windowTitle</h1>

    <table>
        <tr>
            <th>Package</th>
            <th>Description</th>
        </tr>
        #foreach ($pkg in $pkgs.keySet())
            #set ($url = $PackageWriter.getLink("$!{pkg}"))
            <tr>
                <td class="col-first"><a href="${urlBase}${url}"><code>$pkg</code></a></td>
                <td>$pkgs.get($pkg)</td>
            </tr>
        #end
    </table>
#end